.item-container {
  width: 100%;
}

.item {
  background-color: #fff;
  width: calc(100% - 18px);
  margin: 9px;
  height: 300px;
}

@media(min-width:576px) {

  .item-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
  }

  .item {
    flex: 1;
    min-width: 300px;
  }
  
}