.headerBar {
  background-color: #fff !important;
}

.headerBar-logo {
  height: 36px;
  display: block;
}

.headerBar-select {
  margin-left: 20px;
  display: block;
}

.headerBar-logo {
  height: 36px;
  display: block;
}

.headerBar-right {
  text-align: right;
}

.headerBar-right>* {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 0;
}