.user {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  min-width: 90%;
  padding: 20px;
}

.enterButton {
  margin-top: 30px;
}

textarea {
  width: 100% !important;
}

@media(min-width: 576px) {

  .user {
    min-width: 50%;
  }

}